.similar-product-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  font-family: 'Roboto';
}

.similar-product-item-img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}

.similar-product-item-title {
  margin-bottom: 1rem;
}

.similar-product-item-brand {
  color: #cbced2;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.similar-product-item-price-rating-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.similar-product-item-title,
.similar-product-item-price {
  color: #171f46;
  font-size: 1rem;
  font-weight: 600;
}

.similar-product-item-rating {
  color: #ffffff;
  background-color: #3b82f6;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.similar-product-item-rating-star-img {
  height: 1rem;
  width: 1rem;
}

@media (min-width: 768px) {
  .similar-product-item-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 1.5rem;
  }
}
